<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <!--<add name="student_data" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"/>-->
    <add name="student_data" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"/>
       <add name="conString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"/>



    <!--<add name="student_data" connectionString="Data Source=182.50.133.110;Initial Catalog=Dengso_Database;Integrated Security=False;User ID=Dengso;Connect Timeout=35;Encrypt=False;Packet Size=4096;password=2un8Z!j5;"/>
    <add name="conString" connectionString="Data Source=182.50.133.110;Initial Catalog=Dengso_Database;Integrated Security=False;User ID=Dengso;Connect Timeout=35;Encrypt=False;Packet Size=4096;password=2un8Z!j5;"/>-->

    <!--<add name="myConnectionString" connectionString="Data Source=.\SQL2008R2;Initial Catalog=Database;Integrated Security=False;User ID=dengsolu;Connect Timeout=35;Encrypt=False;Packet Size=4096;password=1tu4Vo94tG;"/>-->

    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;             Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;             Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
</configuration>
